<!DOCTYPE html>
<html lang="ch-zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>头部 - 主播详情</title>
    <link rel="stylesheet" href="web/static/css/common.css">
    <link rel="stylesheet" href="web/static/css/anchordet.css">
</head>
<body>
    <!--公共头部 start-->
    <header class="public-header">
        <nav class="ly-1210 clearfix">
            <h1 class="logo fl"><a class="inlie wh-100" href="#"></a></h1>
            <ul class="nav fl">
                <li class="fl db"><a href="#">首页</a></li>
                <li class="fl db"><a href="#">指数</a></li>
                <li class="fl db"><a href="#">观察</a></li>
                <li class="fl db"><a href="#">服务</a></li>
            </ul>
            <div class="search fr">
                <div class="ly-sel rel fl">
                    <span class="button btn-sel"></span>
                    <span class="ico abs"></span>
                    <ul class="sel-list public-header-sprite clearfix abs"></ul>
                </div>
                <input class="fl" type="text" placeholder="输入搜索内容">
                <span class="button btn-search public-header-sprite fr"></span>
            </div>
        </nav>
    </header>
    <!--公共头部 end-->

    <!-- 内容部分 start -->
    <div class="anchordet-main">
        <div class="ly-1210 clearfix">
            <!-- 左边内容块 start -->
            <div class="anchordet-main-left fl">
                <!-- 用户信息 start -->
                <div class="user-info-wk sprite clearfix">
                    <figure class="fl">
                        <img class="fl" src="images/timg.jpg" alt="社会你姐球">
                        <figcaption class="info-name center">
                            <span class="nickname db text-over-hidden" title="社会你球姐社会你球姐社会你球姐社会你球姐">社会你球姐社会你球姐社会你球姐社会你球姐</span>
                            <div class="info-id-wk center fl nowrap hidden">
                                <img class="inlie" src="images/timg.jpg" alt="头像">
                                <span class="info-id inlie" title="1473461751">1473461751</span>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="user-info fl">
                        <div class="user-table-wk">
                            <div class="uset-table-nk">
                                <p class="item clearfix user-fist">
                                    <span class="user-sex fl">
                                        <span class="ico sprite ico-sex fl"></span>
                                        <span class="label-cont fl">性别:女</span>
                                    </span>
                                    <span class="user-age fl">
                                        <span class="ico sprite ico-age fl"></span>
                                        <span class="label-cont fl">年龄:23</span>
                                    </span>
                                    <dispanv class="user-area fl">
                                        <span class="ico sprite ico-area fl"></span>
                                        <span class="label-cont fl">城市:北京</span>
                                    </span>
                                </p>
                                <p class="item user-authent clearfix hidden">
                                    <span class="ico sprite ico-authent fl"></span>
                                    <span class="label-cont fl">认证:2016GMIC健使2016GMI16GMIC健康互动IC健使2016GMI16GMIC健康互动娱乐大使IC健使2016GMI16GMIC健康互动娱乐大使IC健使2016GMI16GMIC健康互动娱乐大使娱乐大使</span>
                                </p>
                                <p class="item user-autograph clearfix hidden">
                                    <span class="ico sprite ico-autograph fl"></span>
                                    <span class="label-cont fl">签名:公众号/诺远商城诺远诺远商城诺远诺远商城诺远诺远商城诺远诺远商城诺远诺远商城诺远诺远商城诺远诺远商城诺远诺远商城诺远诺远商城诺远诺远商城诺远</span>
                                </p>                            
                            </div>
                        </div>
                    </div>
                    <ul class="data-list">
                        <li class="fl">
                            <em class="db center text-over-hidden" title="4200">4200</em>
                            <span class="label center db">综合指数</span>
                        </li>
                        <li class="fl">
                            <em class="db center text-over-hidden" title="4200">4200</em>
                            <span class="label center db">热度指数</span>
                        </li>
                        <li class="fl">
                            <em class="db center text-over-hidden" title="42123213232121q32132100">42123213232121q32132100</em>
                            <span class="label center db">收入</span>
                        </li>
                        <li class="fl">
                            <em class="db center text-over-hidden" title="4200">4200</em>
                            <span class="label center db">粉丝</span>
                        </li>
                    </ul>
                </div>
                <!-- 用户信息 end -->

                <!-- 数据分析表 start -->
                <div class="table">
                    <ul class="table-head">
                        <li class="fl rel sel">日收入记录</li>
                        <li class="fl rel">日增粉记录</li>
                        <li class="fl rel">日在线记录</li>
                    </ul>
                    <div class="table-tbody"></div>
                </div>
                <!-- 数据分析表 end -->
            </div>
            <!-- 左边内容块 end -->

            <!-- 右边内容块 start -->
            <div class="anchordet-main-right fr">
                <!-- 主播有直播图片 start -->
                <a class="user-info img-get-true rel" href="#">
                    <figure class="rel">
                        <img src="web/static/images/newslist.png" alt="女神驾到">
                        <figcaption class="abs clearfix">
                            <span class="user-name text-over-hidden fl" title="#女神驾到＃女神驾到＃女神驾到＃女神驾到＃女神驾到＃女神驾到＃女神驾到＃">#女神驾到＃女神驾到＃女神驾到＃女神驾到＃女神驾到＃女神驾到＃女神驾到＃</span>
                            <span class="user-watchpeople text-over-hidden fr right">去看TA &gt;</span>
                        </figcaption>
                    </figure>
                    <div class="user-head abs">
                        <p class="center abs">正在直播</p>
                    </div>
                </a>
                <!-- 主播有直播图片 end -->

                <!-- 主播有无图片 start -->
                <a class="user-info img-get-false rel" href="#">
                    <figure class="rel">
                        <img class="fl" src="images/timg.jpg" alt="女神驾到">
                        <figcaption class="abs clearfix">
                            <span class="user-name text-over-hidden fl" title="#女神驾到＃女神驾到＃女神驾到＃女神驾到＃女神驾到＃女神驾到＃女神驾到＃">#女神驾到＃女神驾到＃女神驾到＃女神驾到＃女神驾到＃女神驾到＃女神驾到＃</span>
                            <span class="user-watchpeople text-over-hidden fr right">去看TA &gt;</span>
                        </figcaption>
                    </figure>
                    <div class="user-head abs">
                        <p class="center abs">正在直播</p>
                    </div>
                </a>
                <!-- 主播无直播图片 end -->
                
                <!-- 主播不在线 start -->
                <a class="user-info img-get-false-not rel" href="#">
                    <figure class="rel">
                        <img class="fl" src="images/timg.jpg" alt="女神驾到">
                    </figure>
                    <div class="user-head abs">
                        <p class="center abs">不在直播中</p>
                    </div>
                </a>
                <!-- 主播不在线 end -->                
                <a class="button btn-contact sprite" href="#">联系主播</a>
            </div>
            <!-- 右边内容块 end -->
        </div>
    </div>
    <!-- 内容部分 end -->

    <!--公共底部 start-->
    <footer class="public-footer">
        <div class="ly-1210">
            <div class="ly-left fl">
                <a class="logo public-footer-sprite db th" href="#">底部logo</a>
                <ul>
                    <li class="public-footer-sprite">zhuyong@itoubu.com</li>
                    <li class="public-footer-sprite">18627591100</li>
                    <li class="public-footer-sprite">湘ICP备16010588号-1</li>
                </ul>
            </div>
            <figure class="ly-right fl clearfix">
                <img class="fl" src="images/timg.jpg" alt="扫描关注头部微信公众平台">
                <figcaption class="fl center">扫描关注头部微信公众平台</figcaption>
            </figure>
        </div>
    </footer>
    <!--公共底部 end-->

<script src="web/static/js/common.bundle.js"></script>
<script src="web/static/js/anchordet.bundle.js"></script>
</body>
</html>