<!DOCTYPE html>
<html lang="ch-zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>头部 - 观察</title>
    <link rel="stylesheet" href="web/static/css/common.css">
    <link rel="stylesheet" href="web/static/css/observe.css">
</head>
<body>
    <!--公共头部 start-->
    <header class="public-header">
        <nav class="ly-1210 clearfix">
            <h1 class="logo fl"><a class="inlie wh-100" href="#"></a></h1>
            <ul class="nav fl">
                <li class="fl db"><a href="#">首页</a></li>
                <li class="fl db"><a href="#">指数</a></li>
                <li class="fl db select"><a href="#">观察</a></li>
                <li class="fl db"><a href="#">服务</a></li>
            </ul>
            <div class="search fr">
                <div class="ly-sel rel fl">
                    <span class="button btn-sel"></span>
                    <span class="ico abs"></span>
                    <ul class="sel-list public-header-sprite clearfix abs"></ul>
                </div>
                <input class="fl" type="text" placeholder="输入搜索内容">
                <span class="button btn-search public-header-sprite fr"></span>
            </div>
        </nav>
    </header>
    <!--公共头部 end-->

    <!--内容部分 start-->
    <div class="observe-main">
        <div class="ly-1210 clearfix">
            <!--左边内容 start-->
            <section class="observe-main-left fl">
                <!--轮播器 start-->
                <div class="carousel fl">
                    <div class="carousel-main hidden rel wh-100">
                        <ul class="img-list abs">
                            <li class="fl">
                                <a class="link-wh-100" href="#">
                                    <img class="link-wh-100" src="images/timg.jpg" alt="直播市场还火爆吗？1">
                                </a>
                            </li>
                            <li class="fl">
                                <a class="link-wh-100" href="#">
                                    <img class="link-wh-100" src="images/timg.jpg" alt="直播市场还火爆吗？2">
                                </a>
                            </li>
                            <li class="fl">
                                <a class="link-wh-100" href="#">
                                    <img class="link-wh-100" src="images/timg.jpg" alt="直播市场还火爆吗？3">
                                </a>
                            </li>
                        </ul>
                        <ul class="arc-list abs center"></ul>
                    </div>
                </div>
                <!--轮播器 end-->

                <!--列表标题 start-->
                <div class="list-head clearfix">
                    <h2 class="fl">头部观察</h2>
                    <ul class="clearfix">
                        <li class="fl rel center sel">最新资讯</li>
                        <li class="fl rel center">主播资讯</li>
                        <li class="fl rel center">平台资讯</li>
                    </ul>
                </div>
                <!--列表标题 end-->

                <!--最新列表内容 start-->
                <ul class="list-main new-main">
                    <!-- 新闻列表循环10次 start-->
                    <li>
                        <a class="img fl" href="#">
                            <img class="wh-100" src="images/timg.jpg" alt="直播市场还火爆吗？">
                        </a>
                        <a class="title fl text-over-hidden" href="#">最新直播市场还火爆吗直播市场还火爆吗直播市场还火爆吗？来看看这组数据</a>
                        <a class="content hd fl" href="#">半个多月前，移动直播的鼻祖级半个多月前，移动直播的鼻祖级半个多月前，移动直播的鼻祖级产品 Meerkat 才刚刚宣布关闭 。Instagram 直播功能的未来会像 Meerkat 般坎坷吗?</a>
                        <span class="author fl">作者：头部</span>
                        <time class="fr right">10分钟前</time>
                    </li>
                    <!-- 新闻列表循环10次 end-->
                </ul>
                <!--最新列表内容 end-->

                <!--主播列表内容 start-->
                <ul class="list-main anchor-main hide">
                    <!-- 新闻列表循环10次 start-->
                    <li>
                        <a class="img fl" href="#">
                            <img class="wh-100" src="images/timg.jpg" alt="直播市场还火爆吗？">
                        </a>
                        <a class="title fl text-over-hidden" href="#">主播直播市场还火爆吗直播市场还火爆吗直播市场还火爆吗？来看看这组数据</a>
                        <a class="content hd fl" href="#">半个多月前，移动直播的鼻祖级半个多月前，移动直播的鼻祖级半个多月前，移动直播的鼻祖级产品 Meerkat 才刚刚宣布关闭 。Instagram 直播功能的未来会像 Meerkat 般坎坷吗?</a>
                        <span class="author fl">作者：头部</span>
                        <time class="fr right">10分钟前</time>
                    </li>
                    <!-- 新闻列表循环10次 end-->
                </ul>
                <!--主播列表内容 end-->

                <!--平台列表内容 start-->
                <ul class="list-main terrace-main hide">
                    <!-- 新闻列表循环10次 start-->
                    <li>
                        <a class="img fl" href="#">
                            <img class="wh-100" src="images/timg.jpg" alt="直播市场还火爆吗？">
                        </a>
                        <a class="title fl text-over-hidden" href="#">平台直播市场还火爆吗直播市场还火爆吗直播市场还火爆吗？来看看这组数据</a>
                        <a class="content hd fl" href="#">半个多月前，移动直播的鼻祖级半个多月前，移动直播的鼻祖级半个多月前，移动直播的鼻祖级产品 Meerkat 才刚刚宣布关闭 。Instagram 直播功能的未来会像 Meerkat 般坎坷吗?</a>
                        <span class="author fl">作者：头部</span>
                        <time class="fr right">10分钟前</time>
                    </li>
                    <!-- 新闻列表循环10次 end-->
                </ul>
                <!--平台列表内容 end-->

                <!--加载更多 start-->
                <div class="button-wk center">
                    <span class="button inlie btn-more">加载更多...</span>
                </div>
                <!--加载更多 end-->
            </section>
            <!--左边内容 end-->

            <!--右边内容 start-->
            <section class="observe-main-right fr clearfix">
                <!--热门榜单 start-->
                <div class="new-list ly-border fl clearfix">
                    <div class="list-head">
                        <b class="fl center sel">本周热门</b>
                        <b class="fl center">本月热门</b>
                    </div>
                    <!--周榜单 start-->
                    <ul class="list-main list-week">
                        <li>
                            <a class="db rel" href="#">本周直播的下半场思维：全面进入“＋时代”</a>
                        </li>
                        <li>
                            <a class="db rel" href="#">直播的下半场思维：全面进入“＋时代”</a>
                        </li>
                        <li>
                            <a class="db rel" href="#">““＋时代”直播的下半场思维：全面进入“＋时代”</a>
                        </li>
                        <li>
                            <a class="db rel" href="#">直播的下半场思维：全面进入“＋时代”</a>
                        </li>
                        <li>
                            <a class="db rel" href="#">直播的下半场思维：全面进入“＋时代”</a>
                        </li>
                    </ul>
                    <!--周榜单 end-->

                    <!--月榜单 start-->
                    <ul class="list-main list-month hide">
                        <li>
                            <a class="db rel" href="#">本月直播的下半场思维：全面进入“＋时代”</a>
                        </li>
                        <li>
                            <a class="db rel" href="#">““＋时代”直播的下半场思维：全面进入“＋时代”</a>
                        </li>
                        <li>
                            <a class="db rel" href="#">直播的下半场思维：全面进入“＋时代”</a>
                        </li>
                        <li>
                            <a class="db rel" href="#">直播的下半场思维：全面进入“＋时代”</a>
                        </li>
                        <li>
                            <a class="db rel" href="#">直播的下半场思维：全面进入“＋时代”</a>
                        </li>
                    </ul>
                    <!--月榜单 end-->
                </div>
                <!--热门榜单 end-->

                <!--投稿需知 start-->
                <div class="must ly-border fl clearfix">
                    <div class="must-head fl center">投稿须知</div>
                    <dl class="fl">
                        <dt>关于投稿：</dt>
                        <dd>请点击我要投稿按钮跳转到官方邮箱进行投稿，投稿成功后将进入短暂的审核期，由于后台量巨大，请勿着急。</dd>
                    </dl>
                    <dl class="fl">
                        <dt>关于文章：</dt>
                        <dd>只要和主播、直播相关的文章，不管是专业的干货、逗趣的吐槽还是犀利的观点，我们都诚挚的欢迎。不排斥一稿多投，但更欢迎独家首发稿件。</dd>
                    </dl>
                </div>
                <!--投稿需知 end-->
                <span class="button btn-deliver fl">立即投稿</span>
            </section>
            <!--右边内容 end-->
        </div>
    </div>
    <!--内容部分 end-->

    <!--公共底部 start-->
    <footer class="public-footer">
        <div class="ly-1210">
            <div class="ly-left fl">
                <a class="logo public-footer-sprite db th" href="#">底部logo</a>
                <ul>
                    <li class="public-footer-sprite">zhuyong@itoubu.com</li>
                    <li class="public-footer-sprite">18627591100</li>
                    <li class="public-footer-sprite">湘ICP备16010588号-1</li>
                </ul>
            </div>
            <figure class="ly-right fl clearfix">
                <img class="fl" src="images/timg.jpg" alt="扫描关注头部微信公众平台">
                <figcaption class="fl center">扫描关注头部微信公众平台</figcaption>
            </figure>
        </div>
    </footer>
    <!--公共底部 end-->

<script src="web/static/js/common.bundle.js"></script>
<script src="web/static/js/observe.bundle.js"></script>
</body>
</html>