<!DOCTYPE html>
<html lang="ch-zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>头部 - 搜索</title>
    <link rel="stylesheet" href="web/static/css/common.css">
    <link rel="stylesheet" href="web/static/css/search.css">
</head>
<body>
    <!--公共头部 start-->
    <header class="public-header">
        <nav class="ly-1210 clearfix">
            <h1 class="logo fl"><a class="inlie wh-100" href="#"></a></h1>
            <ul class="nav fl">
                <li class="fl db"><a href="#">首页</a></li>
                <li class="fl db"><a href="#">指数</a></li>
                <li class="fl db"><a href="#">观察</a></li>
                <li class="fl db"><a href="#">服务</a></li>
            </ul>
            <div class="search fr">
                <div class="ly-sel rel fl">
                    <span class="button btn-sel"></span>
                    <span class="ico abs"></span>
                    <ul class="sel-list public-header-sprite clearfix abs"></ul>
                </div>
                <input class="fl" type="text" placeholder="输入搜索内容">
                <span class="button btn-search public-header-sprite fr"></span>
            </div>
        </nav>
    </header>
    <!--公共头部 end-->

    <!-- 搜索框 start -->
    <section class="search-search">
        <div class="ly-1210">
            <input class="fl" type="text" placeholder="请输入需要搜索的内容">
            <span class="button fl btn-search">搜索</span>
        </div>
    </section>
    <!-- 搜索框 end -->

    <!-- 筛选 start -->
    <section class="search-screen">
        <div class="ly-1210">
            <ul class="screen">
                <li class="list-row clearfix">
                    <em class="fl">平台:</em>
                    <ul class="sel-list fl clearfix hidden">
                        <li class="list-item fl">
                            <a class="link-wh-100 sel" href="#">不限</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">花椒直播</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">花椒直播</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">花椒直播</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">花椒直播</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">花椒直播</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">花椒直播</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">花椒直播</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">花椒直播</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">花椒直播</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">花椒直播</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">花椒直播</a>
                        </li>
                    </ul>
                    <span class="button btn-other hide fr">
                        其他
                        <span class="ico ico-triangle"></span>
                    </span>
                </li>
                <li class="list-row clearfix">
                    <em class="fl">收入:</em>
                    <ul class="sel-list fl clearfix hidden">
                        <li class="list-item fl">
                            <a class="link-wh-100 sel" href="#">不限</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">5万以下</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">5万以下</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">5万以下</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">5万以下</a>
                        </li>
                    </ul>
                    <span class="button btn-other fr hide">
                        其他
                        <span class="ico ico-triangle"></span>
                    </span>
                </li>
                <li class="list-row clearfix">
                    <em class="fl">粉丝:</em>
                    <ul class="sel-list fl clearfix hidden">
                        <li class="list-item fl">
                            <a class="link-wh-100 sel" href="#">不限</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">5万以下</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">5万以下</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">5万以下</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">5万以下</a>
                        </li>
                    </ul>
                    <span class="button btn-other fr hide">
                        其他
                        <span class="ico ico-triangle"></span>
                    </span>
                </li>
                <li class="list-row clearfix">
                    <em class="fl">地区:</em>
                    <ul class="sel-list fl clearfix hidden">
                        <li class="list-item fl">
                            <a class="link-wh-100 sel" href="#">不限</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">北京</a>
                        </li>
                    </ul>
                    <span class="button btn-other hide fr">
                        其他
                        <span class="ico ico-triangle"></span>
                    </span>
                </li>
                <li class="list-row clearfix">
                    <em class="fl">性别:</em>
                    <ul class="sel-list fl clearfix hidden">
                        <li class="list-item fl">
                            <a class="link-wh-100 sel" href="#">不限</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">男</a>
                        </li>
                        <li class="list-item fl">
                            <a class="link-wh-100" href="#">女</a>
                        </li>
                    </ul>
                    <span class="button btn-other fr hide">
                        其他
                        <span class="ico ico-triangle"></span>
                    </span>
                </li>
            </ul>
        </div>
    </section>
    <!-- 筛选 end -->

    <!-- 搜索内容 start -->
    <section class="search-content">
        <div class="ly-1210">
            <div class="table clearfix">
                <div class="table-head clearfix">
                    <span class="label fl">搜索结果<small>共3条搜索结果</small></span>
                    <div class="tab-wk fr clearfix">
                        <b class="fl">排序方式:</b>
                        <ul class="fl">
                            <li class="fl rel sel">头部指数</li>
                            <li class="fl rel">收入</li>
                            <li class="fl rel">粉丝</li>
                        </ul>
                    </div>
                </div>
                <div class="table-thead">
                    <div class="table-tr clearfix">
                        <div class="table-th fl">账号</div>
                        <div class="table-th fl">平台</div>
                        <div class="table-th fl">收入</div>
                        <div class="table-th fl">粉丝</div>
                        <div class="table-th fl">主播综合指数<span class="ico sprite rel">
                            <div class="ly-alert hide abs">
                                <p>“主播综合指数”是根据主播的粉丝、收入、在线时长等数据结合专业算法得出的指数值。</p>
                            </div>
                            <div class="decorate hide sprite abs"></div>
                        </span></div>
                        <div class="table-th fl">主播热度指数<span class="ico sprite rel">
                            <div class="ly-alert hide abs">
                                <p>“主播热度指数榜”是根据主播的日增收入、日增粉丝、在线时长等数据结合专业算法得出的指数值，指数值越高排名越高。</p>
                            </div>
                            <div class="decorate hide sprite abs"></div>
                        </span></div>
                        <div class="table-th fl">城市</div>
                        <div class="table-th fl">性别</div>
                        <div class="table-th fl">趋势<span class="ico sprite rel">
                            <div class="ly-alert hide abs">
                                <p>“趋势”是根据主播粉丝、金币的增长值、金币、粉丝总数等数据对比昨日数据综合算出的主播趋势。</p>
                            </div>
                            <div class="decorate hide sprite abs"></div>
                        </span></div>
                        <div class="table-th fl">更多</div>
                    </div>
                </div>
                <div class="table-tbody">
                    <!-- 循环表格 start -->
                    <a class="table-tr db hidden clearfix" href="#">
                        <div class="table-td fl">
                            <figure class="clearfix">
                                <img class="fl" src="images/timg.jpg" alt="社会你求解">
                                <figcaption class="fl">
                                    <span class="user-name hidden fl">社会社会你球姐你球姐</span>
                                    <span class="user-id hidden fl">ID:1473467546751</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="table-td fl">
                            <span class="user-terrace db">映客直播</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-income hidden center fl">+152468</span>
                            <span class="user-total hidden center fl">总:4524689</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-income hidden center fl">+152468</span>
                            <span class="user-total hidden center fl">总:4524689</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-comprehensive hidden db">4125</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-heat hidden db">4125</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-area hidden db">辽宁</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-sex db">女</span>
                        </div>
                        <div class="table-td fl">
                            <!-- 三种可能：-->
                            <!-- ico-new - 最热 -->
                            <!-- ico-rise - 上升 -->
                            <!-- ico-drop - 下降 -->
                            <span class="ico ico-new sprite fl"></span>
                        </div>
                        <div class="table-td fl">
                            <span class="button btn-more fl">主播详情</span>
                        </div>
                    </a>
                    <a class="table-tr db hidden clearfix" href="#">
                        <div class="table-td fl">
                            <figure class="clearfix">
                                <img class="fl" src="images/timg.jpg" alt="社会你求解">
                                <figcaption class="fl">
                                    <span class="user-name hidden fl">社会社会你球姐你球姐</span>
                                    <span class="user-id hidden fl">ID:1473467546751</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="table-td fl">
                            <span class="user-terrace hidden db">映客直播</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-income hidden center fl">+152468</span>
                            <span class="user-total hidden center fl">总:4524689</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-income hidden center fl">+152468</span>
                            <span class="user-total hidden center fl">总:4524689</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-comprehensive hidden db">4125</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-heat hidden db">4125</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-area hidden db">辽宁</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-sex db">女</span>
                        </div>
                        <div class="table-td fl">
                            <!-- 三种可能：-->
                            <!-- ico-new - 最热 -->
                            <!-- ico-rise - 上升 -->
                            <!-- ico-drop - 下降 -->
                            <span class="ico ico-rise sprite fl"></span>
                        </div>
                        <div class="table-td fl">
                            <span class="button btn-more fl">主播详情</span>
                        </div>
                    </a>
                    <a class="table-tr db hidden clearfix" href="#">
                        <div class="table-td fl">
                            <figure class="clearfix">
                                <img class="fl" src="images/timg.jpg" alt="社会你求解">
                                <figcaption class="fl">
                                    <span class="user-name hidden fl">社会社会你球姐你球姐</span>
                                    <span class="user-id hidden fl">ID:1473467546751</span>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="table-td fl">
                            <span class="user-terrace hidden db">映客直播</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-income hidden center fl">+152468</span>
                            <span class="user-total hidden center fl">总:4524689</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-income hidden center fl">+152468</span>
                            <span class="user-total hidden center fl">总:4524689</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-comprehensive hidden db">4125</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-heat hidden db">4125</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-area hidden db">辽宁</span>
                        </div>
                        <div class="table-td fl">
                            <span class="user-sex db">女</span>
                        </div>
                        <div class="table-td fl">
                            <!-- 三种可能：-->
                            <!-- ico-new - 最热 -->
                            <!-- ico-rise - 上升 -->
                            <!-- ico-drop - 下降 -->
                            <span class="ico ico-drop sprite fl"></span>
                        </div>
                        <div class="table-td fl">
                            <span class="button btn-more fl">主播详情</span>
                        </div>
                    </a>
                    <!-- 循环表格 end -->
                </div>
            </div>
        </div>
    </section>
    <!-- 搜索内容 end -->

    <!--公共底部 start-->
    <footer class="public-footer">
        <div class="ly-1210">
            <div class="ly-left fl">
                <a class="logo public-footer-sprite db th" href="#">底部logo</a>
                <ul>
                    <li class="public-footer-sprite">zhuyong@itoubu.com</li>
                    <li class="public-footer-sprite">18627591100</li>
                    <li class="public-footer-sprite">湘ICP备16010588号-1</li>
                </ul>
            </div>
            <figure class="ly-right fl clearfix">
                <img class="fl" src="images/timg.jpg" alt="扫描关注头部微信公众平台">
                <figcaption class="fl center">扫描关注头部微信公众平台</figcaption>
            </figure>
        </div>
    </footer>
    <!--公共底部 end-->

<script src="web/static/js/common.bundle.js"></script>
<script src="web/static/js/search.bundle.js"></script>
</body>
</html>